---
export const prerender = false;
import BoxItem from "../components/BoxItem.astro";
import Button from "../components/Button.astro";
import Flex from "../components/Flex.astro";
import LinkButton from "../components/LinkButton.astro";
import Layout from "../layouts/Layout.astro";
import Socials from "../components/Socials.astro";
---

<script>
  import { actions, isInputError } from "astro:actions";

  function isHTMLElement(element: Element | null) {
    return !!element && element instanceof HTMLElement;
  }

  function hideAllErrors() {
    document.querySelectorAll(".field-error-element").forEach((element) => {
      if (!isHTMLElement(element)) {
        return;
      }

      element.textContent = "";
      element.style.display = "none";
    });

    const errorElement = document.querySelector(".error");
    if (!isHTMLElement(errorElement)) {
      return;
    }

    errorElement.style.display = "none";
  }

  function showFieldError(
    field: string,
    message: string = "Something went wrong",
  ) {
    const fieldErrorElement = document.querySelector(
      `.field-error-element[data-field="${field}"]`,
    );
    if (!isHTMLElement(fieldErrorElement)) {
      return;
    }
    fieldErrorElement.textContent = message;
    fieldErrorElement.style.display = "block";
  }

  function showSuccess(formElement: HTMLElement) {
    formElement.style.display = "none";

    const successMessage = document.querySelector(".success");
    if (!isHTMLElement(successMessage)) {
      return;
    }

    successMessage.style.display = "block";
  }

  function showError() {
    const errorElement = document.querySelector(".error");

    if (!isHTMLElement(errorElement)) {
      return;
    }

    errorElement.style.display = "block";
  }

  const form = document.querySelector("form");
  form?.addEventListener("submit", async (event) => {
    event.preventDefault();
    const formData = new FormData(form);
    const { error } = await actions.sendEmail(formData);

    hideAllErrors();

    if (isInputError(error)) {
      for (let field in error.fields) {
        // @ts-expect-error this is ok, it's properly indexed
        const fieldMessage = error.fields[field][0];
        showFieldError(field, fieldMessage);
      }
      return;
    }

    if (error) {
      showError();
      return;
    }

    showSuccess(form);
  });
</script>

<Layout>
  <h2>Contact Me</h2>
  <Flex align="end" gap={2} grow>
    <div class="success">
      <BoxItem
        icon="check_circle"
        title="Thank you!"
        subtitle="I'll get back to you as soon as I can"
        theme="success"
      />
    </div>
    <form data-netlify="true" data-netlify-honeypot="bot-field">
      <div>
        <label>Name<input maxlength="1000" name="name" /></label>
        <div class="field-error-element" data-field="name"></div>
      </div>
      <div>
        <label>Email<input maxlength="1000" name="email" type="email" /></label>
        <div class="field-error-element" data-field="email"></div>
      </div>
      <div>
        <label>Subject<input maxlength="1000" name="subject" /></label>
        <div class="field-error-element" data-field="subject"></div>
      </div>
      <div>
        <label
          >Message<textarea maxlength="20000" name="message" rows="5"
          ></textarea></label
        >
        <div class="field-error-element" data-field="message"></div>
      </div>

      <input
        name="bot-field"
        style={{
          visibility: "hidden",
          height: 0,
          margin: 0,
          padding: 0,
          border: 0,
        }}
      />
      <div class="error">
        <BoxItem
          icon="error"
          title="Uh-oh!"
          subtitle="There was an error sending your message. Please try again, or contact me via social media."
          theme="danger"
        />
      </div>
      <Button type="submit"><span class="icon">send</span>Send Email</Button>
    </form>
    <Flex align="center" direction="column" gap={5} grow justify="center">
      <Socials gap={3} />
      <LinkButton
        href="McLucas - Professional Resume.pdf"
        download="McLucas - Professional Resume"
        ><span class="icon">download</span>Download my resume</LinkButton
      >
    </Flex>
  </Flex>
</Layout>

<style>
  form {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    margin-top: 1rem;

    button {
      align-self: center;
    }
  }

  label {
    display: flex;
    flex-direction: column;

    input,
    textarea {
      margin-top: 4px;

      &:focus {
        border: 1px solid var(--color-secondary);
        outline: none;
      }
    }
  }

  .icon {
    font-family: var(--font-icon);
  }

  .success {
    display: none;
    margin-top: 1rem;
  }

  .field-error-element {
    color: var(--color-danger);
    font-size: 0.875rem;
  }

  .error {
    display: none;
  }
</style>
