---
import { Picture } from "astro:assets";

import LinkButton from "../components/LinkButton.astro";
import Flex from "../components/Flex.astro";
import headshotImage from "../assets/mustache-headshot.jpg";
import Layout from "../layouts/Layout.astro";
import Timeline from "../components/Timeline.astro";
import BoxItem from "../components/BoxItem.astro";
---

<Layout withGlobalPadding={false}>
  <Flex grow>
    <Picture
      pictureAttributes={{ style: "flex: 1 0 50%; min-width: 0;" }}
      src={headshotImage}
      alt="Headshot of Joshua McLucas"
      priority
    />
    <Flex direction="column" class="intro">
      <p>
        Hi, I'm Josh! I've held lots of titles over my career. From theater to
        software to whatever else I set my mind to, I devote myself to each
        challenge with enthusiasm. Variety is the spice of life, after all!
      </p>
      <p>
        Currently, I'm in the middle of a gap year to explore new opportunities
        and recharge my creative batteries. I'm currently studying a breadth of
        topics as far ranging as AI Safety, Urban Design, and Physiology.
      </p>
      <p>
        I'm always open to chatting about new ideas and projects, so if you have
        an idea for something you'd like to collaborate on, please reach out!
      </p>
      <LinkButton href="/contact"> Contact Me </LinkButton>
    </Flex>
  </Flex>
  <aside class="quote">
    <div>
      "…a true Renaissance man." - Kip Nygren, Former President of Wyoming
      Seminary
    </div>
  </aside>
  <Timeline />
  <section class="values">
    <h2>My Values</h2>
    <div class="values-list">
      <BoxItem
        icon="check_circle"
        subtitle="Following through on your commitments shows others that you're trustworthy and dependable."
        title="Do what you say you'll do"
      />
      <BoxItem
        icon="diversity_1"
        subtitle="Everyone has a unique perspective, background, and experience that makes them who they are. Understand the person, and you'll understand the world a bit better."
        title="Lead with empathy"
      />
      <BoxItem
        icon="workspace_premium"
        subtitle="Don't be afraid to say no, because a yes means it's worth your full attention. If you can't fully commit, don't commit at all."
        title="Anything worth doing is worth doing well"
      />
      <BoxItem
        icon="forum"
        subtitle="Nobody is a mind-reader, and circumstances change constantly. Be vulnerable enough to say what isn't being said, and to write down what needs to be remembered."
        title="Communication is key"
      />
    </div>
  </section>
</Layout>

<style>
  picture img {
    display: block;
    height: auto;
    width: 100%;
  }

  .intro {
    background-color: var(--color-tertiary);
    color: var(--color-black);
    display: flex;
    flex: 1 0 50%;
    height: 100%;
    padding: 2rem;

    a {
      align-self: center;
    }
  }

  .quote {
    border-image-outset: 34px;
    border: 20px solid transparent;
    border-image: url("../assets/lace-border.png") 34 round;
    color: var(--color-secondary);
    font-family: var(--font-cursive);
    font-size: 3.5rem;
    margin: 1rem;
    flex: 1 1 50%;
    text-align: center;

    div {
      background-color: var(--color-black);
      height: 100%;
      padding: 3rem;
      width: 100%;
    }
  }

  .values {
    padding: 2rem 4rem;

    h2 {
      margin-bottom: 2rem;
    }
  }

  .values-list {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1.25rem;
  }
</style>
