---
interface Props {
  children: any;
  type: HTMLButtonElement["type"];
}
const { type } = Astro.props;
---

<button type={type}><slot /></button>

<style>
  button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
    text-decoration: none;
    font-family: var(--font-body);
    font-size: 1.25rem;
    border-radius: var(--radius-base);
    transition: background-color 0.2s ease-in-out;
  }

  button:hover {
    background-color: color-mix(in srgb, var(--color-primary), #fff 15%);
  }

  button:active {
    background-color: color-mix(in srgb, var(--color-primary), #fff 30%);
  }
</style>
