---
interface Props {
  align?: "start" | "center" | "end" | "stretch";
  class?: string;
  direction?: "row" | "column" | "row-reverse";
  gap?: number;
  grow?: boolean;
  justify?: "start" | "center" | "end" | "between" | "around";
}
const {
  align = "start",
  class: className = "",
  direction = "row",
  gap = 0,
  grow,
  justify = "start",
  ...rest
} = Astro.props;
---

<div
  class:list={[
    "flex",
    className,
    direction,
    { grow: grow },
    `align-${align}`,
    `justify-${justify}`,
  ]}
  style={{ gap: `${gap}rem` }}
  {...rest}
>
  <slot />
</div>

<style>
  .flex {
    display: flex;
  }

  .grow {
    flex: 1 1 0;
  }

  .row {
    flex-direction: row;
  }

  .row-reverse {
    flex-direction: row-reverse;
  }

  .column {
    flex-direction: column;
  }

  .align-start {
    align-items: flex-start;
  }

  .align-center {
    align-items: center;
  }

  .align-end {
    align-items: flex-end;
  }

  .align-stretch {
    align-items: stretch;
  }

  .justify-start {
    justify-content: flex-start;
  }

  .justify-center {
    justify-content: center;
  }

  .justify-end {
    justify-content: flex-end;
  }

  .justify-between {
    justify-content: space-between;
  }

  .justify-around {
    justify-content: space-around;
  }
</style>
