<header>
  <h1>Joshua McLucas</h1>
  <h2>Software Engineer</h2>
</header>

<style>
  header {
    background-color: var(--color-black);
    color: var(--color-secondary);
    font-family: var(--font-display);
    padding: 1rem 1.5rem;
  }

  h1 {
    margin-bottom: 0.5rem;
  }
</style>
