<header>
  <a href="/"><h1>Joshua McLucas</h1></a>
  <h2 data-carousel>Software Engineer</h2>
</header>

<script>
  const carousel = document.querySelector("[data-carousel]");
  const titles = [
    "Career Chameleon",
    "Software Engineer",
    "Theater Artist",
    "Live Streamer",
    "Renaissance Man",
  ];
  let index = 0;

  function updateCarousel() {
    if (!carousel) return;

    carousel.textContent = titles[index] || "";
    index = (index + 1) % titles.length;
  }

  updateCarousel();
  setInterval(updateCarousel, 3000);
</script>

<style>
  header {
    background-color: var(--color-black);
    color: var(--color-secondary);
    padding: 1rem 2rem;
  }

  h1 {
    margin-bottom: 0.5rem;
  }

  @media (prefers-reduced-motion: no-preference) {
    h2 {
      animation: fadeIn 1.5s alternate infinite;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
