---
interface Props {
  children: any;
  download?: HTMLAnchorElement["download"];
  href: HTMLAnchorElement["href"];
  theme?: "primary" | "secondary";
}
const { download, href, theme = "primary" } = Astro.props;
---

<a class={theme} download={download} href={href}><slot /></a>

<style>
  a {
    align-items: center;
    display: inline-flex;
    padding: 0.5rem 1rem;
    cursor: pointer;
    gap: 8px;
    justify-content: center;
    text-decoration: none;
    font-family: var(--font-body);
    font-size: 1.25rem;
    border-radius: var(--radius-base);
    transition: background-color 0.2s ease-in-out;

    &.primary {
      background-color: var(--color-primary);
      border: 1px solid var(--color-black);
      color: var(--color-white);
    }

    &.secondary {
      background-color: var(--color-white);
      border: 1px solid var(--color-primary);
      color: var(--color-primary);
    }
  }

  a:hover {
    &.primary {
      background-color: color-mix(in srgb, var(--color-primary), #fff 15%);
    }

    &.secondary {
      background-color: color-mix(in srgb, var(--color-primary), #fff 85%);
    }
  }

  a:active {
    &.primary {
      background-color: color-mix(in srgb, var(--color-primary), #fff 30%);
    }

    &.secondary {
      background-color: color-mix(in srgb, var(--color-primary), #fff 70%);
    }
  }
</style>
