---
interface Props {
  children: any;
  download?: HTMLAnchorElement["download"];
  href: HTMLAnchorElement["href"];
}
const { download, href } = Astro.props;
---

<a download={download} href={href}><slot /></a>

<style>
  a {
    align-items: center;
    display: inline-flex;
    padding: 0.5rem 1rem;
    background-color: var(--color-primary);
    border: 1px solid var(--color-black);
    color: var(--color-white);
    cursor: pointer;
    gap: 8px;
    justify-content: center;
    text-decoration: none;
    font-family: var(--font-body);
    font-size: 1.25rem;
    border-radius: var(--radius-base);
    transition: background-color 0.2s ease-in-out;
  }

  a:hover {
    background-color: color-mix(in srgb, var(--color-primary), #fff 15%);
  }

  a:active {
    background-color: color-mix(in srgb, var(--color-primary), #fff 30%);
  }
</style>
