---
const data = [
  {
    description:
      "I grow up in rural south-central Pennsylvania, where I discover a love for video games, playing guitar, and creative writing.",
    headline: "The story begins",
    startDate: "07-27-1993",
    endDate: "08-20-2007",
  },
  {
    description:
      "I attend Wyoming Seminary, a private college preparatory school in Kingston, PA, on full scholarship. I am awarded the Outstanding Graduate, Alumni Service Award, and the Levi Sprague Fellowship for my outstanding academic and community contributions.",
    headline: "Discovering myself at boarding school",
    startDate: "08-20-2007",
    endDate: "06-01-2011",
  },
  {
    description:
      "I attend Swarthmore College, where I graduate with High Honors in Theater. I also study Computer Science and Psychology, thrilled to be able to explore such diverse subjects.",
    headline: '"The best years of your life"',
    startDate: "09-01-2011",
    endDate: "06-01-2015",
  },
  {
    description:
      "I found [redacted] theater company, where I work as a producer, director, and actor, responsible for creating multiple productions and festivals in Philadelphia.",
    headline: "Founding a theater company",
    startDate: "06-01-2014",
    endDate: "08-01-2018",
  },
  {
    description:
      "My software engineering career thrives, growing to a Staff-level frontend engineer by working with a variety of fast-moving startups.",
    headline: "Making a life of software engineering",
    startDate: "09-01-2015",
    endDate: "06-02-2026",
  },
  {
    description:
      "I re-focus my creative energy on music - singing and playing guitar in a pop-punk cover band and starting a streaming review channel called The Pulse of Music.",
    headline: "Rockin' out",
    startDate: "06-02-2020",
    endDate: "06-02-2025",
  },
  {
    description:
      "I take a gap year to study a breadth of new topics and recharge my creative batteries.",
    headline: "Exploring new horizons",
    startDate: "06-02-2026",
    endDate: "06-02-2027",
  },
  {
    description:
      "I am currently exploring new opportunities and projects, eager to apply my diverse skills and experiences to new challenges.",
    headline: "What's next?",
    startDate: "06-02-2027",
    endDate: "Present",
  },
];
---

<div>Implement timeline here</div>
