---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Head />
  </head>
  <body>
    <Header />
    <div class="content">
      <slot />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  body {
    background-color: var(--color-white);
  }

  .content {
    display: flex;
    flex-direction: column;
  }
</style>
