---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Socials from "../components/Socials.astro";
import HiMark from "../assets/hi-mark.svg";
---

<!doctype html>
<html lang="en">
  <head>
    <Head />
  </head>
  <body>
    <div>
      <Header />
      <div class="content">
        <slot />
      </div>
    </div>
    <footer>
      <span class="copyright"
        ><a
          href="https://www.artistsu.org/human-intelligence"
          rel="noopener noreferrer"
          target="_blank"><HiMark class="hi-mark" /></a
        > Joshua McLucas, {new Date().getFullYear()}</span
      >
      <Socials size="small" theme="inverted" />
    </footer>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  body {
    background-color: var(--color-tertiary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  footer {
    align-items: center;
    background-color: var(--color-black);
    color: var(--color-secondary);
    display: flex;
    font-family: var(--font-display);
    font-size: 1.25rem;
    justify-content: space-between;
    padding: 2rem;
  }

  .copyright {
    align-items: center;
    display: flex;
    gap: 8px;

    a {
      display: flex;
    }
  }

  .hi-mark {
    fill: var(--color-secondary);
    height: auto;
    width: 1.25rem;
  }
</style>
