---
interface Props {
  date: string;
  title: string;
}
import LinkButton from "../components/LinkButton.astro";
import Layout from "../layouts/Layout.astro";

const { date, title } = Astro.props;
---

<Layout>
  <div class="header">
    <LinkButton href="/writing"
      ><span class="icon">arrow_back</span>All Posts</LinkButton
    >
    <h1>{title}</h1>
    <h2>
      {
        `${new Date(date).toLocaleDateString("en-US", { year: "numeric", month: "long", day: "numeric" })}`
      }
    </h2>
  </div>
  <div class="content">
    <slot />
  </div>
</Layout>

<style>
  .content {
    padding: 2rem;

    ul {
      li {
        font-size: 1.25rem;
        list-style-type: disc;
        margin-inline-start: 2rem;
        padding-bottom: 1rem;
      }
    }

    h2 {
      margin: 2rem 0 1rem;
    }

    a {
      text-decoration: underline;

      &:hover {
        color: var(--color-primary);
        text-decoration: none;
      }
    }
  }

  .icon {
    font-family: var(--font-icon);
  }

  .header {
    padding: 2rem 2rem 0;

    a {
      margin-bottom: 1rem;
    }
  }
</style>
