---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const allPosts = (await getCollection("writing")).sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
);
---

<Layout>
  <div class="content">
    <h2>Writing</h2>
    <ul>
      {
        allPosts.map((post) => (
          <li>
            <div class="metadata">
              <h3>
                <a href={`/writing/${post.id}`}>{post.data.title}</a>
              </h3>
              <p>
                {new Date(post.data.date).toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })}
              </p>
              <p>Estimated time to read:</p>
            </div>
            <p>{post.data.description}</p>
            <hr />
          </li>
        ))
      }
    </ul>
  </div>
</Layout>

<style>
  .content {
    padding: 2rem;

    h2 {
      margin-bottom: 1rem;
    }

    a {
      text-decoration: underline;

      &:hover {
        color: var(--color-primary);
        text-decoration: none;
      }
    }

    ul {
      padding: 0 2rem;
    }

    li {
      p {
        margin-bottom: 0;
      }
    }

    .metadata {
      margin-bottom: 1rem;

      p {
        font-size: 1rem;
      }
    }

    hr {
      background-color: var(--color-black);
      border: none;
      height: 1px;
      margin-top: 2rem;
    }
  }
</style>
